/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F5F3;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;  
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

i {
    color: var(--main_color);
}

/* Utils */
:root {
    --main_color: #FF9614;
    --secondary_color: #7C69A4;
}

.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Header */
header {
    background-color: white;
    text-align: center;
}

h1 {
    font-family: 'Nerko One', cursive;
    font-size: 3.8rem;
    font-weight: 400;
    padding: 6px 1rem;
    color: var(--main_color);
    text-shadow: 1px 0 2px gray;
}

/* Summary Section */
h4 {
    font-weight: 300;
}

.extra-info {
    display: none;
}

.sum-header {
    padding: 24px 0;
}

.sum-header > div {
    justify-content: space-between;
    padding-top: 6px;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #4E3969;
}

.rate {
    gap:10px;
    font-size: 1.2rem;
}

.rate-button a {
    background-color: var(--main_color);
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 12px;
}

/* Video */
.sum-video {
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
}

iframe {
    height: 50vw;
    width: 100%;
}

/* Summary under the video */
.sum-requirements {
    background-color: #fff;
    padding: 2rem 2rem 3rem;
    box-shadow: 0px 8px 16px #dedede;
}

.sum-properties {
    margin: 0 auto 2rem;
    background-color: #F6F5F9;
    padding: 0 10px;
}

.sum-properties > div {
    border-bottom: 0.5px solid #DEDEDE;
    justify-content: space-between;
}

.sum-properties > * {
    padding: 12px;
}

.cal {
    background-color: var(--secondary_color);
    color: white;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
}

.more-info {
    color: var(--main_color);
}

.fa-carrot {
    color: black;
}

.sum-timing {
    margin: 0 -10px;
}

.sum-timing ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sum-timing li {
    padding: 10px;
    font-size: 0.8rem;
}

/* Banner */
.banner {
    display: none;
    padding-bottom: 3rem;
}

/* Follow us on socials */
.follow-us ul {
    justify-content: space-around;
    padding: 3rem 0;
}

.follow-us li {
    background-color: white;
    padding: 14px 20px;
    border-radius: 24px;
    box-shadow: 0 3px 17px #dcdcdc;
    text-align: center;
}

.follow-us span {
    display: none;
}

.fa-facebook {
    color: #1A77F3;
}

.fa-twitter {
    color: #009EFF;
}

.fa-instagram {
    color: #E33D78;
}

.fa-pinterest {
    color: #E62225;
}

.fa-youtube {
    color: #E62222;
}

/* Presentation */
.presentation {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: 500;
}

hr {
    border: 1px solid #FF9614;
    width: 20%;
    margin: 12px 0;
}

.presentation img {
    max-width: 70%;
    margin: 0 auto;
    padding: 12px 0;
}

.lore {
    font-size: 1.3rem;
    line-height: 2.2rem;
    padding: 5px 0;
}

/* Footer */
footer {
    background-color: var(--secondary_color);
    color: white;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 12px;
}

.business-info p {
    padding: 6px;
}

footer ul {
    flex-wrap: wrap;
    gap: 28px;
}

footer a {
    color: white;
}

@media screen and (min-width: 768px) {
    h1 {
        text-align: left;
    }

    .extra-info {
        display: inline-block;
    }

    .sum-timing ul {
        flex-direction: row;
    }

    .sum-timing li {
        width: calc(100%/3);
    }

    .follow-us li {
        width: calc(100%/6);
    }

    .banner {
        display: block;
    }

    .presentation img {
        width: 45%;
        float: left;
        margin-right: 10px;
    }

    .presentation {
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 1180px) {
    .container {
        width: 70%;
    }

    .sum-vid-req {
        display: flex;
    }

    .sum-video {
        width: 70%;
    }

    .sum-requirements {
        width: 30%;
    }

    .sum-timing ul {
        flex-direction: column;
    }

    .sum-timing li {
        width: 100%;
    }

    .follow-us span {
        display: inline-block;
        margin-left: 6px;
    }

    footer.fcc {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }
}