/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F5F3;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

i {
    color: var(--main_color);
}

/* Utils */
:root {
    --main_color: #FF9614;
    --secondary_color: #7C69A4;
}

.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Header */
header {
    background-color: white;
    text-align: center;
}

h1 {
    font-family: 'Nerko One', cursive;
    font-size: 4rem;
    font-weight: 400;
    color: var(--main_color);
    padding: 8px;
}

/* Summary Section */
h4 {
    font-weight: 300;
}

.sum-header > div {
    justify-content: space-between;
    padding: 6px 0 24px;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #4E3969;
}

.rate {
    gap:10px;
    font-size: 1.2rem;
}

.rate-button a {
    background-color: var(--main_color);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 12px;
}

/* Video */
iframe {
    max-width: 100%;
    display: block;
}

/* Summary under the video */
.sum-requirements {
    background-color: #fff;
    padding: 2rem;
}

.sum-properties {
    margin: 0 auto 2rem;
    background-color: #F6F5F9;
    padding: 0 10px;
}

.sum-properties > div {
    border-bottom: 0.5px solid #DEDEDE;
    justify-content: space-between;
}

.sum-properties > * {
    padding: 12px;
}

.cal {
    background-color: var(--secondary_color);
    color: white;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
}

.more-info {
    color: var(--main_color);
}

.fa-carrot {
    color: black;
}

.sum-timing ul {
    line-height: 2.5rem;
}

/* Follow us on socials */
.follow-us ul {
    justify-content: space-around;
    padding: 3rem 0;
}

.follow-us li {
    background-color: white;
    padding: 14px 20px;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 3px 17px #dcdcdc;
}

.follow-us span {
    display: none;
}

.fa-facebook {
    color: #1A77F3;
}

.fa-twitter {
    color: #009EFF;
}

.fa-instagram {
    color: #E33D78;
}

.fa-pinterest {
    color: #E62225;
}

.fa-youtube {
    color: #E62222;
}

/* Presentation */
.presentation {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: 500;
}

hr {
    border: 1px solid #FF9614;
    width: 20%;
    margin: 12px 0;
}

.presentation img {
    max-width: 70%;
    margin: 0 auto;
    padding: 12px 0;
}

.lore {
    font-size: 1.3rem;
    line-height: 2.2rem;
    padding: 5px 0;
}